@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
 --onest-font: 'Onest Variable';
 --nunito-font: 'Nunito Variable'
}


h1, h2, h3, p {
  font-family: var(--onest-font);
}

a, input, label {
  font-family: var(--nunito-font);
  font-size: 20px;
}

input {
  width: 23rem;
  background-color: blue;
}