@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Runda';
  src: url('../../public/Runda.otf');
}

:root {
 --onest-font: 'Onest Variable';
 --runda: 'Runda'
}
body {
  margin: 20px;
  overflow-x: hidden;
}

.inactive {
  display: none;
}

h1, h2, h3, p {
  font-family: var(--runda);
}

a, input, label {
  font-family: var(--onest-font);
  font-size: 20px;
}
textarea {
  font-family: var(--onest-font);
  resize: none;
  height: 200px;
}
@media (max-width: 768px) {
  .pc-navbar {
      display: none;
  }
}